/* Variáveis globais */
:root {
  --primary-color: #007bff;
  --secondary-color: #4D6183;
  --text-color: #000;
  --background-color: #fff;
  --footer-background: #164B30;
  --hover-color: #006400;
  --dark-gray: #333333; /* Adicionado no blog, mas pode ser útil globalmente */
  --main-padding: 20px;
  --header-padding: 10px 20px;
  --footer-padding: 50px 0;
  --main-margin: 20px auto;
  --footer-margin-top: 20px;
  --transition-duration: 0.3s;
}

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

