.main {
    width: 90%;
    max-width: 1600px;
    margin: var(--main-margin) auto;
    background-color: var(--background-color);
    padding: var(--main-padding);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
    border-radius: 10px;
}


