/* src/assets/css/Categories.module.css */
.categories {
    margin-bottom: 40px;
}

.categories h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os itens */
    justify-content: space-between;
}

.post {
    flex: 1 1 calc(25% - 20px); /* Ajuste a largura do item conforme necessário */
    box-sizing: border-box;
}
