.categories {
    margin-bottom: 40px;
}

.categories h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}