.footer {
    background-color: var(--footer-background);
    color: #ddd;
    text-align: center;
    padding: var(--footer-padding);
    margin-top: var(--footer-margin-top);
    border-radius: 10px;
    flex-grow: 1;
}

.footerContent {
    width: 100%;
    max-width: 1600px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footerLinks, .contactInfo, .socialMedia {
    width: 100%;
    margin-bottom: 20px;
}

.contactInfo{
    margin-top: 20px;
}
.footerLinks {
    display: flex;
    justify-content: center;
}

.footerLinks a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    background: var(--footer-background);
    transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footerLinks a:hover {
    color: #32CD32;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.contactInfo {
    text-align: center;
    margin-bottom: 20px;
}

.contactInfo h2 {
    color: #000;
    margin-bottom: 10px;
}

.contactInfo p {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 5px;
}

.newsletter {
    margin-bottom: 2px;
}

.newsletter input[type="email"] {
    padding: 12px;
    margin: 0 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
}

.newsletter input[type="email"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.newsletter input[type="email"]:invalid {
    border: 1px solid #999898;
}

.newsletter button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, transform var(--transition-duration) ease;
}

.newsletter button:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
    transform: scale(1.05);
}

.footerContent .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.socialMedia h2 {
    color: #000;
    margin-bottom: 2px;
}

.socialMedia a {
    margin: 10px;
    font-size: 28px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.socialMedia a:hover {
    color: #006400; /* Mudança de cor ao passar o mouse */
    transform: translateY(-5px);
}

.socialMedia i {
    font-size: 28px; /* Tamanho dos ícones */
}

/* Estilo para o contêiner do ícone */
a .fa-twitter {
    font-size: 0; /* Oculta o ícone original */
}

/* Adicionar o novo ícone 'X' */
a .fa-twitter::before {
    content: "𝕏"; /* O caractere 'X' */
    font-size: 28px; /* Tamanho do novo ícone */
    color: #000; /* Cor do novo ícone */
    font-weight: 900; /* Peso da fonte para o 'X' */
    display: inline-block;
    transition: transform 0.3s ease;
}

/* Adicionar uma cor de hover, se desejar */
a .fa-twitter:hover::before {
    color: #0056b3; /* Ajuste a cor conforme necessário */
    transform: scale(1.1); /* Efeito de aumento no hover */
}


.copyright {
    margin-top: 0;
    background-color: #fff; /* Define o fundo como branco */
    color: #000; /* Define a cor do texto como preto */
    font-size: 13px;
    text-align: center;
    padding: 10px 15px;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
}

.copyright::before {
    content: "©";
    color: var(--primary-color);
    font-weight: bold;
    margin-right: 5px;
    transition: color var(--transition-duration) ease;
    display: inline;
}

.copyright:hover::before {
    color: #0056b3;
}
