@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho original */
  }
  50% {
    transform: scale(1.05); /* Aumenta o tamanho um pouco */
  }
  100% {
    transform: scale(1); /* Retorna ao tamanho original */
  }
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%); /* Inicia fora da tela à esquerda */
  }
  50% {
    transform: translateX(0); /* Move para o início do header */
  }
  100% {
    transform: translateX(100%); /* Move para fora da tela à direita */
  }
}

.header {
  background-color: var(--footer-background);
  padding: var(--header-padding);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: top var(--transition-duration), transform 0.3s ease;
  z-index: 1000;
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 1px solid #32CD32;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 5px;
  overflow: hidden; /* Garante que a animação fique contida */
}

/* Adiciona a linha verde animada */
.header::after {
  content: '';
  position: absolute;
  bottom: 0; /* Alinha a linha na parte inferior do header */
  left: 0;
  width: 100%;
  height: 2px; /* Altura da linha ajustada para mais fina */
  background: #32CD32; /* Cor da linha */
  transform: translateX(-100%); /* Inicia a linha fora da tela */
  animation: moveLine 2s linear infinite; /* Animação da linha */
}

.headerHidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.logo a {
  display: block;
  overflow: hidden;
  transform-origin: center;
  animation: pulse 2s infinite; /* Animação pulse apenas no logo */
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.logo a:hover img {
  transform: scale(0.9);
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.navLinks li {
  margin-left: 15px;
  display: inline-block;
}

.navLinks li a {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 8px; /* Arredondamento igual ao footer */
  background: var(--footer-background);
  transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navLinks li a:hover {
  color: #32CD32;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.navLinks li .faUserCircle {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navLinks li .faUserCircle:hover {
  color: #4B7D60;
  transform: translateY(-2px);
}
