/* CSS do ScrollToTopButton */
.scrollToTop {
    position: fixed;
    bottom: 20px; /* Ajuste conforme necessário */
    right: 20px;  /* Ajuste conforme necessário */
    z-index: 1000; /* Certifique-se de que o z-index é maior que o do footer */
}

.scrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    padding: 0;
    background-color: #006400; /* Cor de fundo do botão */
    color: #fff; /* Cor do ícone */
    border: none; /* Remove a borda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao botão */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scrollButton:hover {
    background-color: #004d00; /* Cor do botão ao passar o mouse */
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}
