@import './variables.module.css';

.header {
    background-color: var(--background-color);
    padding: var(--header-padding);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: top var(--transition-duration);
    z-index: 1000;
    border-bottom: 1px solid #dadada;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navLogoLink {
    display: block;
    overflow: hidden;
    transform-origin: center;
}

.navLogoImage {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.navLogoLink:hover .navLogoImage {
    transform: scale(0.9);
}

.navList {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.navListItem {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.navLink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease, box-shadow 0.3s ease;
}

.faUserCircle {
    font-size: 25px;
}

.navLink:hover {
    background: linear-gradient(45deg, #4B7D60, #6FAE89);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
